h1{ 
    font-family : Arial, Helvetica, sans-serif;
    color : rgb(255, 255, 255);
    display : block;
    position : absolute;
    float : top;
    left : 50%;
    transform : translate(-50%);  
    font-size: 150px; 
}
h2{ 
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    color : rgb(144, 220, 255);
    margin : 0;
    position : absolute;
    top : 80%;
    left : 50%;
    transform : translate(-50%,-20%);
}
.textdiv{
    display : flex;
    justify-content : center;
    align-items : center;
    position : relative;
    margin : auto;
    height : 300px;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}
body {
    background-color: rgb(9, 6, 44);
}
.topnav {
    overflow: hidden;
    float: right;
    margin : 10px;
  }
  
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
div.dd1{
    width : 240px;
    height : 180px;
    background-color : rgb(144, 220, 255);
    border: rgb(9, 6, 44) solid 1px;
    margin : 20px;
    position : absolute;
    top : 30%;
    left : 5%;
    clear: left;
    display : none;
}
#phome{
    color :rgb(255, 255, 255);
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align : center;
}

