h1{ 
    color : rgb(255, 255, 255);
}
h2{ 
    color : rgb(162, 250, 140);
}

body {
    background-image: url("Backgrounds/green-darkgreen.png");
    background-attachment: fixed;
}  
.topnav a {
    color:rgb(255, 255, 255);
}
.navbar:hover{
    background-color: rgb(162, 250, 140);
    color : rgb(1, 48, 19);;
}
.planet_div_text{
    background-color :  rgb(162, 250, 140);
}
.planet_text{
    color :rgb(1, 48, 19);;
}
.home_button{
    color: rgb(248, 255, 250);
    background-color: rgb(1, 48, 19);
    border : rgb(255, 255, 255) 2px solid;
}
