body{
    position : relative;
    margin : 0px;
    padding : 0px;
}
html{
    height : 100%;
}
/*Header tag is fixed on the top and
navigation bar is aligned to right. The z index 
is the highest as to keep teh anchor tags
clickable and hovrable.*/
header{
    position : fixed;
    right : 0%;
    margin-top : 20px;
    margin-right : 10px;
    z-index: 1;
}
.topnav {
    display : block;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }
  
.navbar {
    text-decoration: none;
    text-align: center;
    padding: 20px 20px;
    margin : 5px;
}
.navbar:hover{
    border-radius : 20px;
}
/*The sections are aligned to center
using translate, traditional method. The
divs of these sections are given display flex 
for alignment of inner elements*/
main{
    height : 100%;
    width : 100%;
}
.section{
    margin : 0;
    padding : 0;
    min-height : 100vh;
    width : 100%;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
}
/*Hidden sections are about and contacts
which fade in when the screen interacts wiht them, 
scrolling*/
.sectionHidden{
    height : 100vh;
    width : 100%;
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
}
/*All the heading tags across the sections
get styles from here*/
h1{ 
    font-family : Arial, Helvetica, sans-serif;
    display : block;
    float : top;
    font-size: 130px;
    text-align : center;
    margin : 0;
}
h2{ 
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size : 30px;
    text-align : center;
    margin : 0;
}
/*parent element to the h1 and h2 in every section*/
.textdiv{
    margin : 30px;
    top : 35%;
    height : 300px;
    position : absolute;
    z-index : 101;
}
/* a simple fade in effect animation
to bring quotes in. Text-div has property opacity
as 100 already, but we do an animation just once
for the effect. Hence box remains on screen afterwards.*/
@keyframes fade{
    from{
        opacity: 0%;
    }
    to{
        opacity :100%;
    }
}
/*This refers to small quote boxes and
stationary planets on homepage
parent to planet_text*/
.planet_div_text{
    margin : auto;
    position : absolute;
    clear: left;
    border-radius: 15%;
    opacity: 100%;
    animation: fade 6s ease-out;
    animation-iteration-count: 1;
    z-index : 101;
}
/*style the p tag inside the box, i.e.; class = "planet_div_text
child to planet_div_text"*/
.planet_text{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding-left: 20px;
    padding-right : 20px;
}
/*parent to planet_img*/
.planet_div_img{
    position : absolute;
    margin : 20px;
    z-index : 101;
}
/*child to planet_div_img*/
.planet_img{
    border-radius : 50%;
    align-content: center;
}
/*here lies all those text boxes with
styles for different location and box sizes*/
#planet_1_div_text{
    width : 175px;
    height : 173px;
    top : 15%;
    left : 23%;
}
#planet_1_div_img{
     top : 10%;
     left : 20%;
}
#planet_2_div_text{
    width : 205px;
    height : 210px;
    top : 67%;
    left : 73.5%;
}
#planet_2_div_img{
     top : 60%;
     left : 70%;
}
#planet_3_div_text{
    width : 185px;
    height : 210px;
    top : 65.5%;
    left : 16%;
}
#planet_3_div_img{
     top : 50%;
     left : 10%;
}
#planet_4_div_text{
     width : 170px;
     height : 170px;
     top : 30%;
     left : 79%;
}
#planet_4_div_img{
    left : 85.25%;
    top : 21%;
}
/*Styled button*/
#login_button{
    font-size : 25px;
    padding : 20px 25px;
    bottom : 190px;
    left : 50%;
    transform: translate(-50%);
}
#theme_change{
    font-size : 15px;
    padding : 10px 10px;
    bottom : 120px;
    left : 50%;
    transform: translate(-50%);
}
.home_button{
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    position : absolute;
    text-decoration: none;
    display : inline;
    text-align : center;
    border-radius: 15px;
}
/*The slide in effect of the sections
using transform and filter properties*/
.iHidden{
    opacity : 0;
    filter : blur(10px);
    transform : translateX(-100%);
    transition : all 2s;
}
/*Reduce the motion so not everytime
user sees the animation*/
@media(prefers-reduced-motion){
    .iHidden{
        transition: none;
    }
}
/*Show class is added to the section
elements using intersectionObserve api
go to js for explanation in comments*/
.show{
    filter : blur(0);
    transform : translateX(-50%);
    opacity : 1;
}
/*Style for black curve on the top
graphics from hiehie.app*/
.custom-shape-divider-top-1684653645 {
    z-index : 0.1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
/*Style for the curve in the footer,
graphics from hiekie.app*/
.spacer1{
    aspect-ratio: 960/450;
    width : 100%;
    position : fixed;
    top : 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size : cover;
    z-index : 0.1;
}
.layer1{
    background-image: url('wave-haikei_1.svg');
}
.spacer2{
    aspect-ratio: 960/400;
    width : 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index : 0.1;
}
.layer2{
    background-image: url("layered-waves-haikei.svg");
}


