.object {
    border-radius: 50%;
    position: absolute;
    margin: auto;
    }
/*centers the planet rotation with keeping 
all top, bottom, right, left 0. As js 
changes these properties for motion, but it's slightly 
out of symetry and center is a bit off*/
.planet {
  z-index: 100;
  top : 0;
  left : 0;
  bottom: 0;
  right : 0;
}  
.sun{
    z-index: 40;
    height: 30vmin;
    width: 30vmin;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}
